<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diablo 4 - World Bosses - Settings</title>
    <link rel="icon" href="/static/img/icon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2L3VH4HCL5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2L3VH4HCL5');
</script>
<body>
    <nav class="navbar container">
        <a href="{% url 'home' %}" class="logo scroll">
            <img src="/static/img/logo.png" alt="" width="50" height="50">
            Diablo 4 - World Bosses
        </a>
        <input type="checkbox" id="toggler" />
        <label for="toggler"><i class="ri-menu-line"></i></label>
        <div class="menu">
            <ul class="list">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if logged_in %}
                    <li>
                        <div class="login-toggle"><div class="login-form-container"></div></div>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                        <button type="submit">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <div class="login-container">
                            <a href="#" class="login-toggle">Login</a>
                            <div class="login-form-container">
                                <form method="POST" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <label for="username">Username:</label>
                                    <input type="text" name="username" id="username" required>
                                    <br>
                                
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" id="password" required>
                                    <br>
                                
                                    <button type="submit" name="submit">Submit</button>
                                </form>  
                            </div>
                          </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="user_server_message">
        {{ user_server_message }}
    </div>
    <div id="login-form"> 
    <h1>{{ user }}'s Settings</h1>
    <form method="get" action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit">Home Page</button>
    </form> 
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        <label for="password">Current Password:</label>
        <input type="password" name="current_password" id="current_password" required minlength="8" maxlength="50">
        <br>

        <label for="password">New Password:</label>
        <input type="password" name="new_password" id="new_password" required minlength="8" maxlength="50">
        <br>
    
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required minlength="8" maxlength="50" oninput="checkPassword(this)">
        <br>
        <span id="message"></span>
        
        <button type="submit" name="submit">Update Password</button>
    </form>   
    <form method="post">
        Time-Zone Selection
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    </div>
    <script>
        function checkPassword(input) {
            if (input.value != document.getElementById('new_password').value) {
                input.setCustomValidity('Passwords must match');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>  
    <script src="/static/js/main.js" defer></script>
</body>
<footer>
    <div>
        <p>&copy; 2023 Diablo 4 - World Bosses</p>
        <p><a href="https://D4WB.com">D4WB.com</a></p>
    </div>
    <div>
        <p>Join our Discord server for updates and discussions:</p>
        <p><a href="">Discord Link</a></p>
    </div>
  </footer>
</html>